/* polices
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Parisienne', cursive;
*/
/* --------------------
En tête
-------------------- */

@import 'asset/css/font-awesome.min.css';
@import 'Font_1/font_stylesheet.css';
@import url(//db.onlinewebfonts.com/c/966f3ed4332d5651f58424eb7c31d09f?family=Chap+Regular);

.top_header_area {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ebebeb;
}

.top_header_area .reseaux {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.top_header_area .reseaux> a {
    font-size: 12px;
    color: #232d37;
    margin-right: 30px;
}

.top_header_area .reseaux > a:hover {
	color: #0000FF
}

.top_header_area .reseaux > a:last-of-type {
    margin-right: 0;
}

.top_header_area {
    height: 40px;
    position: relative;
    z-index: 3;
}

.top_header_area  a {
    font-size: 13px;
    color: #222;
}

.top_header_area a {
    margin-right: 13px;
    border-right: 2px solid #c2c2c2;
    padding-right: 13px;
}

.top_header_area {
    margin-left: 54px;
}




::-webkit-scrollbar {	width: 0; background: transparent;}

hr {	width: 85%;}

.accueilbody {	
	background-color: rgba(256, 256, 256, .3);
	
}

.articlebody {	
	background-color: rgba(256, 256, 256, .3);
	margin: auto; 
	margin-top: 4%;  
	overflow: hidden
}

a {	
	color: black;
	text-decoration: none;	
}

a.link {	
	color: gray;
	-webkit-text-decoration: underline dotted gray;
}

/*************************************************************************/

/**************************	tableaux	**************************/

/*************************************************************************/

#menu {	
	width: 100%;
}

	#menu td {	  
		text-align: center; 
		text-decoration: none;
		font-size: 0.7em; 
		/**text-transform: uppercase; **/
		font-family: 'GT Walsheim Pro' ; 
		font-weight: bold;
		font-style:normal;
		letter-spacing: 1.8px; 
		color: black; 
		/**transition: all 1s;**/
		/**height: 3em;**/
	}

	#menu td:hover {
		background-image: -webkit-linear-gradient(120deg, #18ddaa, #20529d);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-animation: hue 1s infinite linear;
		-moz-animation: hue 1s infinite linear;
		/**height: 1em;**/
		cursor: pointer;
		/** color: #0000FF; **/
		/**width: auto;**/
		/**transition: all 1s;**/
	}

#nouveautes {	
	margin: auto; 
	font-family: 'GT Walsheim Pro' ;
	font-weight: 300;
	border-spacing: 1em 0; 
	width: 100%;
}

	#nouveautes td {
		padding: 1em;
		background-size: cover;
		background-repeat: no-repeat;
		width: 50%;
	}

	#nouveautes td p {
		padding: 2em; 
		background: rgba(256, 256, 256, .8);
		height: 5em;
	}

.buttontop {
	margin: auto; 
	border-spacing: 30px 0px; 
	width: 100%
}

	.buttontop td {
		width: 20%; 
		padding: 5px; 
		text-align: center; 
		font-size: 18px; 
		color: white; 
		background: rgba(226, 224, 226, 1.0); 
		transition: all 1s
	}

	#buttonpage1 td:hover {
		background: rgba(0, 51, 255 , 1.0); 
		transition: all 0.1s;
	}

	#buttonpage2 td:hover {
		background: #f5e1c0; 
		transition: all 1s
		width:50%;
	}

#articles {
	margin: auto; 
	border-spacing: 5px; 
	border-collapse: collapse;
	width: 100%;
}

	#articles th, #divth, th {
		font-size: 15px; 
		font-family:'Canela-Light';
		/**text-transform: uppercase; **/
		text-align: center;
		color: black; 
		/**background-color: #1F51FF;**/
		border-bottom: 0.3px solid #414141;
		margin-bottom: 15px;
		margin-top: 20px;
		#divth {		
			width: 100%;
		}

		
	}

	#articles td {
		padding: 25px 30px;
		text-align: center;
		transition: all 1s;
	}

	#articles table td:hover {
		background: rgba(221, 152, 15, 0.3); 
		transition: all 1s;
	}

	#articles .thumbcorps {
		padding: 0px 10px;
		margin: auto;
		width: auto;
	}

#contacttable, #propostable {
	margin: auto; 
	border-spacing: 0; 
	border-collapse: collapse;
	width: 100%;
}

	#contacttable td {
		margin: auto;
	}

#socialcontact {
	margin: auto;  
	font-size: 45px; 
	color: rgba(133, 109, 142, 1.0);
}

	#socialcontact td {
		transition: all 1s;
	}

	#socialcontact td:hover {
		color: rgba(133, 109, 142, 0.5); 
		transition: all 1s;
	}

.thumb {
	width: 100%; 
	transition: all 1s;
}

.thumbarttitle {
	margin: auto; 
	font-size: 20px; 
	font-weight: bold;
}

.thumbcorps {
	padding: 0 20px; 
	margin: auto;
}

/*************************************************************************/

/************************** texte mise en forme	**************************/

/*************************************************************************/

.titre {
	font-size: 5em; 
	font-family: 'Canela-Light'; /**, cursive; **/
	margin: 1em 0 0 0;
	width: fit-content;
	padding: 0 .4em;
	
}

.pagetitre {	
	text-align: center; 
	font-size: 1.5em;
}

.corps {
	font-family: 'GT Walsheim Pro';
	font-weight: 100;
	color: black; 
	text-align: justify; 
	font-size: 0.9em;
	padding: 0 2em;
}

.footer2 {
	font-family: 'GT Pressura Mono Light Light';
	color: black; 
	text-align: justify; 
	font-size: 0.7em;
	padding: 0 2em;
}


.foot {
	color: black; 
	font-style: italic; 
	text-align: center; 
	font-family: 'Times', cursive; 
	padding: 0; 
	margin: auto;
}

/*************************************************************************/

/**************************	formulaires	**************************/

/*************************************************************************/

#search {
	background: rgba(253, 254, 252, .4);
	border-radius: 2em; 
	border: .1em lightgray solid;
	padding: .8em 3em; 
	width: 30em;
}

input[type = "text"], input[type = "date"], input[type = "mail"] {
	border: none;
	border-bottom: 1px lightgray solid;
}

input[type = "reset"] {
}

legend.corps {
	border-left: 1px lightgray dotted; 
	border-right: 1px lightgray dotted; 
	padding: 0em 1em
}

fieldset {
	border: lightgray 1px dotted;
}

.mandatory {
	color: #ff7351;
}

/*************************************************************************/

/**************************	mise en page	**************************/

/*************************************************************************/
	
.box {
	width: 70%; 
	height: auto;
	margin: 0;
	background: white; 
	border-radius: .5em; 
	font-family: 'Helvetica Light';
	font-size: 0.1em;
	color: black; 
	text-align: justify;
}

/*************************************************************************/

/**************************	articles	**************************/

/*************************************************************************/

.artfond {
	margin: auto;
	width: 75%; 
	height: 90%;
	background: white;
	border-radius: .5em;
	overflow: auto;
	font-family: 'GT Welsheim Pro', sans-serif;	
}

.artititre {
	color: black;
	font-size: 3em; 
	font-family: 'Canela-Light';
	line-height: 1;
	margin-left: 15%; margin-bottom: 0%;
}

#backbutton {
	font-family: 'GT Walsheim Pro';
	font-size: 0.9em;
	color: black;
	top: 0; 
	left: 0;
	padding: 1em;
	position: fixed;
}

#backbutton a {	
	color: black
}

.artimeta {
	color: gray;
	font-family: 'Open Sans', sans-serif;
	padding: 2em;
	text-align: right;
	display: block;
}

.petittitre {
	color: white;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	background: black;
	font-size: 1.5em;
	width: 100%;
	margin-bottom: 0.3em;
}

.petittitre2 {
	color: black;
	text-transform: uppercase;
	background: white;
	font-size: 2em;
	padding: .3em;
	font-family: 'Open Sans Condensed', sans-serif;
}

#tousarticles, #tousarticlesbar, #tousarticlestable, #categories, #motsclef {
	width: 100%;
	border-spacing: 1em;
}

#tousarticles {
	margin-top: 2.4em;
}

#tousarticlesbar {
	margin-bottom: 5em;
}

	#tousarticles td, #tousarticlesbar td {
		background: white; 
		padding: 0 .5em;
		text-transform: uppercase; 
		font-family: 'GT Walsheim Pro';
	}

	#tousarticlesbar td{
		font-size: 1.7em;
		font-family: 'GT Walsheim Pro', sans-serif;
		width: 33%;
	}

	#tousarticlestable td {
		width: 25%;
		font-family: 'GT Walsheim Pro';
		font-size: 1em;
		padding: 1em;
		background-size: contain;
		background-repeat: no-repeat;
	}

	#tousarticlestable td p {
		padding: 1em; 
		background: rgba(256, 256, 256, .8);
	}

	 #categories td, #motsclef td {
		background: rgba(256, 256, 256, .8);
		color: black;
		font-size: 1.7em;
		font-family: 'GT Walsheim Pro';
		width: 25%;
		padding: 1.4em;
		transition: all 1s;
	}

		#categories td:hover {
			background: #efcdc3;
			color: white;
			transition: all 1.4s;
		}
		
		#motsclef td:hover {
			background: #c4cfcf;
			color: white;
			transition: all 1.4s;
		}

.meftitre1 {
		font-family: 'GT Walsheim Pro' ; 
		font-weight: bold;
		font-style:normal;
		font-size:0.9em;
		text-transform: uppercase;
		letter-spacing: 1px; 
		color: black; 
}

/*************************************************************************/

/**************************	autres		**************************/

/*************************************************************************/

.hue {
	background-color: '#FFFFFF'; /**-webkit-linear-gradient(120deg, #da8c7b, #55bdba);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 5s infinite linear;
	-moz-animation: hue 5s infinite linear;**/
}


.hue:hover {
	background-image: -webkit-linear-gradient(120deg, #18ddaa, #20529d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 5s infinite linear;
	-moz-animation: hue 5s infinite linear;
}


.hue2 {
	background-image: -webkit-linear-gradient(120deg, #18ddaa, #20529d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 1s infinite linear;
	-moz-animation: hue 1s infinite linear;
}




.anchor {	
	position: absolute; top: -70px;
}

.sound, .play {	
	color: white;
}

.scroll{  }
.heart{ }
.red {	color: red;}
.fav {	opacity: 0; transition: all 1s;}
.fav2 {	opacity: 100; transition: all 1s;}

/*************************************************************************/

/**************************	animations	**************************/

/*************************************************************************/

@-webkit-keyframes hue {
	from {	
		-webkit-filter: hue-rotate(0deg);
	}
	to {	
		-webkit-filter: hue-rotate(360deg);
	}
}

@-webkit-keyframes hue2 {
	from {	
		-webkit-filter: hue-rotate(0deg);
	}
	to {	
		-webkit-filter: hue-rotate(360deg);
	}
}

/*************************************************************************/

/**************************	Viz 3 : models and covers	**************************/

/*************************************************************************/

carousel_pics {
  width: 100%;
}

.table-container {
  overflow-x: auto;
}
